# OS / editor cruft
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Dependencies / build output
node_modules/
dist/

# Logs
npm-debug.log*
yarn-error.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
